body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    text-align: justify;
    
}
.orange-color{
    color: rgb(233, 184, 92);
}
.flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}.experience-item{
    width: 50%;
    padding: 10%;
    box-shadow: 10px 10px 40px rgb(58, 39, 39);
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
   
}
#red{
    border-left: 8px solid rgb(240, 49, 49);
}
#blue{
    border-left: 8px solid rgb(131, 115, 236);
}
footer p{
    text-align: center;
    padding-top: 70px;
}